#SliderEdit {
    width: 800px !important;
    height: 300px !important;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    .Advantegeedit {
        margin-top: 30px;
        width: 100%;
        height: 60px;
        display: block;

        &>label {
            width: auto;
            font-size: 24px;
            font-family: 'Times New Roman', Times, serif;
        }

        &>input {
            width: 100%;
            height: 50px;
            background-color: rgb(51, 47, 47);
        }

    }

    &>button {
        margin-top: 60px;
        width: 140px;
    }
}