.pyramid-loaderRRR {
    position: relative;
    width: 300px;
    height: 300px;
    display: block;
    transform-style: preserve-3d;
    transform: rotateX(-20deg);
  }
  
  .wrappeRRRRRr {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: spin 4s linear infinite;
  }
  
  @keyframes spin {
    100% {
      transform: rotateY(360deg);
    }
  }
  
  .pyramid-loaderRRR .wrappeRRRRRr .side {
    width: 400px;
    height: 400px;
    background: linear-gradient(to bottom right, #FFA500, #FF4500);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform-origin: center top;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }
  
  .pyramid-loaderRRR .wrappeRRRRRr .side1 {
    transform: rotateZ(-30deg) rotateY(90deg);
    background: linear-gradient(to bottom right, #FF4500, #FFA500);
  }
  
  .pyramid-loaderRRR .wrappeRRRRRr .side2 {
    transform: rotateZ(30deg) rotateY(90deg);
    background: linear-gradient(to bottom right, #FFA500, #FF4500);
   
    &>img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
  
  .pyramid-loaderRRR .wrappeRRRRRr .side3 {
    transform: rotateX(30deg);
    background: linear-gradient(to bottom right, #FFA500, #FF4500);
    
    &>img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
  
  .pyramid-loaderRRR .wrappeRRRRRr .side4 {
    transform: rotateX(-30deg);
    background: linear-gradient(to bottom right, #FF4500, #FFA500);
    
    
}
  
  .pyramid-loaderRRR .wrappeRRRRRr .shadow {
    width: 60px;
    height: 60px;
    background: #FF8C00;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform: rotateX(90deg) translateZ(-40px);
    filter: blur(12px);
  }


  .blogDetailss{
    margin-top: 100px;
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .BlofDimg{
        width: 40%;
        height: auto;
    }

    .BlofDtext{
        // margin-top: -200px;
        width: 60%;
        height: auto;
    }
  }

  .OptionsByBlog{
    margin-top: 180px;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: start;

    &>button{
        width: 160px;
    }
  }