.details {
    width: 100%;
    height: 500px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;


    &>div {
        width: 96%;
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;

        .categoryCarImage {
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            &>img {
                width: 100%;
                height: 60%;
            }
        }

        .CarDetailsIMs {
            width: 50%;
            height: 100%;

            &>div {
                width: 100% !important;
                height: 100% !important;
                margin-top: 150px;

                .wrapperRRR {
                    margin: 4rem auto;
                    width: 90%;
                    height: 100% !important;
                    font-size: small;
                }
            }


            .title {
                text-align: center;
                color: #1b1b1b;
            }

            .heading {
                font-weight: bold;
                letter-spacing: 7px;
                font-size: 1.5rem;
                position: relative;
                margin-bottom: 6px;
            }

            .heading::before {
                content: '';
                position: absolute;
                inset: 0;
                background: #e8e8e8;
                z-index: -1;
                filter: blur(50px);
                height: 50px;
            }

            .color {
                padding: 10px 20px;
                display: flex;
                flex-direction: row;
                font-size: 20px;
                justify-content: space-between;
            }

            .hex {
                text-align: end;
                font-family: monospace;
                text-transform: uppercase;
            }

            .black {
                background: var(--black);
                color: var(--ch-white);
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }

            .eerie-black {
                background: var(--ch-black);
                color: var(--ch-white);
            }

            .chinese-black {
                background: var(--eer-black);
                color: var(--ch-white);
            }

            .night-rider {
                background: var(--night-rider);
                color: var(--ch-white);
            }

            .chinese-white {
                background: var(--ch-white);
                color: var(--night-rider);
            }

            .anti-flash-white {
                background: var(--af-white);
                color: var(--night-rider);
            }

            .white {
                background: var(--white);
                color: var(--night-rider);
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
            }

            .border {
                color: var(--night-rider);
                padding: 10px 10px;
                text-align: center;
            }

            .border span {
                border-radius: 5px;
                color: var(--ch-white);
                padding: 2px 4px;
                background-color: var(--night-rider);
            }

        }
    }
}

.carDetails {
    margin-top: 30px;
    width: 100%;
    height: 120px;
    word-wrap: break-word;
    overflow-wrap: break-word;

    &>span {
        font-size: 23px;
    }
}


.asdbbb {
    margin-top: 10px;
    width: 100%;
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &>button {
        width: 200px;
    }
}



#cheufEdit {
    margin-top: 50px;
    margin-bottom: 40px;

    .UpdateChauffers {
        .orange {
            color: #ff7a01;
        }

        .form-container {
            width: 700px;
            margin: 30px;
            background-color: #001925;
            padding: 30px;
            border-left: 5px solid #ff7a01;
            clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%);
        }

        .heading {
            display: block;
            color: white;
            font-size: 1.5rem;
            font-weight: 800;
            margin-bottom: 20px;
        }

        .form-container .form .input {
            color: #87a4b6;
            width: 100%;
            background-color: #002733;
            border: none;
            outline: none;
            padding: 10px;
            margin-bottom: 20px;
            font-weight: bold;
            transition: all 0.2s ease-in-out;
            border-left: 1px solid transparent;
        }

        .form-container .form .input:focus {
            border-left: 5px solid #ff7a01;
        }

        .form-container .form .textarea {
            width: 100%;
            padding: 10px;
            border: none;
            outline: none;
            background-color: #013747;
            color: #ff7a01;
            font-weight: bold;
            resize: none;
            max-height: 150px;
            margin-bottom: 20px;
            border-left: 1px solid transparent;
            transition: all 0.2s ease-in-out;
        }

        .form-container .form .textarea:focus {
            border-left: 5px solid #ff7a01;
        }

        .form-container .form .button-container {
            display: flex;
            gap: 10px;
        }

        .form-container .form .button-container .send-button {
            flex-basis: 70%;
            background: #ff7a01;
            padding: 10px;
            color: #001925;
            text-align: center;
            font-weight: bold;
            border: 1px solid transparent;
            transition: all 0.2s ease-in-out;
        }

        .form-container .form .button-container .send-button:hover {
            background: transparent;
            border: 1px solid #ff7a01;
            color: #ff7a01;
        }

        .form-container .form .button-container .reset-button-container {
            filter: drop-shadow(1px 1px 0px #ff7a01);
            flex-basis: 30%;
        }

        .form-container .form .button-container .reset-button-container .reset-button {
            position: relative;
            text-align: center;
            padding: 10px;
            color: #ff7a01;
            font-weight: bold;
            background: #001925;
            clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
            transition: all 0.2s ease-in-out;
        }

        .form-container .form .button-container .reset-button-container .reset-button:hover {
            background: #ff7a01;
            color: #001925;
        }
    }
}