.MM {
    width: 800px;
    margin-top: 12px;

    &>label {
        margin-top: 20px;
        width: 80%;
        font-size: 17px;
        color: rgb(189, 185, 185);

    }

    #FS {
        width: 90%;
        height: 40px;

        #asd {
            font-size: 19px;
        }
        
    }
}

#ImgUpload{
    display: flex;
    justify-content: center;
    align-items: center;

    &>button{
        margin-left: 30px;
        margin-bottom: -15px;
    }
}

.InputCreateCarimage{
    width: 730px;
    margin-left: 400px;
    height: 40px;
    font-size: 20px;
}
.CarCreateTag{
    width: 730px !important;
}

.ll{
    border-left: 1px solid gray;
    border-bottom: 1px solid gray;
}

.CarCreateDesc{
    border-left: 1px solid gray;
    border-bottom: 1px solid gray;
}

